.container {
  margin: 0;
  padding: 0;
  width: 99vw;
  height: 100vh;

  @media (max-width: 620px) {
    overflow: hidden;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    width: 40rem;
    height: 34rem;
    padding: 3rem;
    background: white;
    border-radius: 0.7rem;

    @media (max-width: 620px) {
      width: 100%;
      height: 100%;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 620px) {
      button {
        position: fixed;
        right: 0;
        bottom: 0;
      }
    }
  }
}
